<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito</title>
</head>

<body class="carrito">
    <main class="carrito__main">
        <section class="carrito__main__section">
            <div class="carrito__main__section__div">
                <h3>Tu Carrito</h3>
                <article class="carrito__main__section__div-article">
                    <div class="carrito__main__section__div-article-texto">
                        <h4>Tu carrito está vacío</h4>
                        <p>comienza a llenarlo con nuestros productos.</p>
                    </div>
                    <button class="boton__general">Ir de compras</button>
                </article>
            </div>
        </section>
    </main>
</body>

</html>