<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4a01fa7cad.js" crossorigin="anonymous"></script>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <title>footer | detalle</title>
</head>

<body>
    <main class="main__detalle__main">
        <section>

            <article class="detalle__section-article-01">


                <div class="detalle__section-article-01-carousel">
<!-- CLASE------------------------SWIPER -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
<!-- CLASE------------------------SWIPER -->
                                <div class="detalle__div-img">
                                    <a href="#"><i class="far fa-heart"></i>Agregar a mis favoritos.</a>
                                    <img src="/img/AMOLADORAS/9002-removebg-preview.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="detalle__div-img">
                                    <a href="#"><i class="far fa-heart"></i>Agregar a mis favoritos.</a>
                                    <img src="/img/AMOLADORAS/AA2KB-removebg-preview.png" alt="">
                                </div>
                            </div>
                            
                            <div class="swiper-slide">
                                <div class="detalle__div-img">
                                    <a href="#"><i class="far fa-heart"></i>Agregar a mis favoritos.</a>
                                    <img src="/img/AMOLADORAS/AA75B-removebg-preview.png" alt="">
                                </div>
                            </div>


                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </article>

            <article class="detalle__section-article-02">
                <p>Lorem ipsum dolor. Illo ullam voluptatibus reiciendis culpa ipsam.Lorem ipsum dolor. Illo ullam
                    voluptatibus reiciendis culpa ipsam.</p>
                <div class="detalle__section-article-precio">Por: $ 19.704,39</div>
                <div class="detalle__section-article-descuento">ou 3x de $ 6.568,10</div>
                <section class="detalle__section-botones">
                    <div class="detalle__div-botones">
                        <a class="más" href="#"><i class="fas fa-plus"></i></a>
                        <a class="uno" href="#">1</a>
                        <a class="menos" href="#"><i class="fas fa-window-minimize"></i></a>
                    </div><a class="detalle__a-boton" href="#">COMPRAR ARTÍCULO</a>
                </section>
            </article>
            <article class="detalle__section-article-03">
                <h2>Incluye</h2>
                <ul>
                    <li>Tuercas</li>
                    <li>Taladro/Atornillador</li>
                    <li>Puntas de atornillado</li>
                </ul>
            </article>

            <article class="detalle__section-article-04">
                <div>

                    <h2 class="detalle-h2">Descripción</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo suscipit vel, iusto doloribus
                        inventore reprehenderit harum deleniti error quibusdam! Tempore, excepturi nulla? Harum, ad
                        doloremque!</p>
                </div>
                <div class="detalle__ul__div-article-05">
                    <h2 class="detalle-h2">Características técnicas</h2>
                    <ul class="detalle__ul__div">
                        <li>Potencia de entrada: 1010W</li>
                        <li>Capacidad máx. en mampostería/Concreto: 20 mm</li>
                        <li>Capacidad máx. en mampostería/Concreto: 20 mm</li>
                        <li>Capacidad máx. en mampostería/Concreto: 20 mm</li>
                        <li>Capacidad máx. en mampostería/Concreto: 20 mm</li>
                        <li>Capacidad máx. en mampostería/Concreto: 20 mm</li>
                        <li>Capacidad máx. en mampostería/Concreto: 20 mm</li>
                    </ul>
                </div>
            </article>

            <article>
                <h1 class="tituloDestacados">Productos relacionados</h1>
                <div class="detalle__section-article-01 detalle__section-article-02-carousel">
<!-- swiper ---------- -->
                    <div class="swiper mySwiper2 ">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide ">
                                <!-- swiper -->
                                <div class="card_recomendados">
                                    <img src="/img/LIJADORAS/LBP-80-removebg-preview.png" alt="#">

                                    <div class="descripcion_recomendados">
                                        <h5>30%</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, ex?</p>
                                        <a href="">Ver Producto</a>
                                    </div>

                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="card_recomendados">
                                    <div><img src="/img/LIJADORAS/LOR200-removebg-preview.png" alt="#">
                                    </div>

                                    <div class="descripcion_recomendados">
                                        <h5>30%</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, ex?</p>
                                        <a href="">Ver Producto</a>
                                    </div>

                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="card_recomendados">
                                    <div><img src="/img/CALADORAS/4550-removebg-preview.png" alt="#"></div>

                                    <div class="descripcion_recomendados">
                                        <h5>30%</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, ex?</p>
                                        <a href="">Ver Producto</a>
                                    </div>

                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="card_recomendados">
                                    <div><img src="/img/CALADORAS/4550-removebg-preview.png" alt="#"></div>

                                    <div class="descripcion_recomendados">
                                        <h5>30%</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, ex?</p>
                                        <a href="">Ver Producto</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next arrow-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                </div>
            </article>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/detalle.js">

    </script>
</body>

</html>