<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a01fa7cad.js" crossorigin="anonymous"></script>
  

    <title>footer</title>
</head>

<body>
    <footer>
        <article>
            <div class="footer__caja-logo"><img src="/img/Logo-Toolsxperts.png" alt="logo"></div>
            <div class="footer__caja-boton"><button class="footer__caja-boton-a" ><a href="">Ayuda</a></button></div>
            <P>Si tenés sugerencias o comentarios</P>
            <a href="">contactanos</a>
            <hr>
           </article>
        <article>
            <div><button><a href="">Suscribite</a></button></div>
            <p>Registrate para enterarte de nuestras promociones</p>
            <hr>
        </article>
        <article>
          <h3>Seguinos en</h3>
          <a href=""><i class="fab fa-twitter-square"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-whatsapp-square"></i></a>
        
      

        </article>
    </footer>
</body>

</html>