<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a01fa7cad.js" crossorigin="anonymous"></script>
    <title>footer</title>
</head>

<body>
    <main></main>
    <footer>
        <div class="footer__caja-logo">
            <img src="/img/logo_footer.png" alt="logo">
        </div>
         <article class="footer__article-contenedor">
            <a href="#" class="footer__caja-boton-padre">Ayuda</a>
            <P>Si tenés sugerencias o comentarios</P>
            <a class="contactanos">Contactanos</a>
        </article>
        <hr>
        <article class="footer__article-contenedor footer__article-contenedor-suscribite">
            <a href="#" class="footer__caja-boton-padre">Suscribite</a>
            <p>Registrate para enterarte de nuestras promociones</p>
        </article>
        <hr>
        <article class="footer__article-contenedor-ayuda">
            <h3>Seguinos en</h3>
            <article class="footer__article-contenedor-seguinos-redes">
                <a class="footer-01" href="#"><i class="fab fa-twitter-square"></i></a>
                <a class="footer-02" href="#"><i class="fab fa-facebook"></i></a>
                <a class="footer-03" href="#"><i class="fab fa-instagram"></i></a>
                <a class="footer-04" href="#"><i class="fab fa-whatsapp"></i></a>
            </article>
        </article>
    </footer>
</body>

</html>