<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINKS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- Boostrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Font Awasome -->
    <script src="https://kit.fontawesome.com/4a01fa7cad.js" crossorigin="anonymous"></script>

    <!-- CSS -->

    <link rel="stylesheet" href="/css/styles.css">

    <title>index | footer</title>
</head>

<body>
    <header class="header">
        <div class="top_bar">
            <i class="fa-solid fa-globe"></i>
        </div>
        <div class="mid_bar">
            <div class="mid_bar_left">
                <a href="/"><img src="/img/Logo-Toolsxperts.png" alt="imagen_logo_ToolsXperts "></a>
            </div>
            <div class="mid_bar_right">
                <div class="div_login">
                    <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
                </div>

                <div class="div_register">
                    <a href="/register"><i class="fas fa-address-card"></i>
                    </a>
                </div>
                <div class="div_carrito">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        </div>
        <div class="bottom_bar">
            <nav class="navbar">
                <ul>
                    <li><a href="/detalle">Productos</a></a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/envios">Envios</a></li>
                </ul>
            </nav>
            <div class="search_bar">
                <div class="search_bar_text">
                    <input type="text" placeholder="¿Qué estas buscando? Nosotros te lo encontramos...">
                </div>
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="burguer_menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <main class="home__main">

        <!-- CARRUSEL HOT SALE -->
        <section class="section--hot-sale">
            <div class="swiper mySwiper-hot-sale">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/img/OFERTAS/Diseño sin título.png" class="d-block w-100" alt="Hot sale 1">

                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <!-- OFERTAS -->

        <h1>Ofertas Exclusivas</h1>

        <article class="home__main__article-ofertas">
            <a href="/"><img src="/img/OFERTAS/AMOLAORAS ofertas.png" alt="Oferta 1"></a>
            <a href="/"><img src="/img/OFERTAS/CALADORAS oferta.png" alt="Oferta 2"></a>
            <a href="/"><img src="/img/OFERTAS/Copia de TALADROS FACE.png" alt="Oferta 3"></a>
            <a href="/"><img src="/img/OFERTAS/Copia de CALADORAS FACE.png" alt="Oferta 4"></a>
        </article>

        <!-- NUESTROS RUBROS -->

        <div class="home__main__div--nuestros-rubros">
            <h1>Nuestros Rubros</h1>

            <!-- CARRUSEL DE RUBROS -->
            <section class="section--rubros">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                    class="swiper mySwiper2-rubros">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/img/rubros/Common Uses for Welding.jpg" class="d-block w-100" alt="rubro1">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/rubros/istockphoto-538026470-1024x1024-transformed.jpeg" alt="rubro2">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/rubros/istockphoto-1218386420-1024x1024-transformed (1).jpeg" alt="rubro3">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next-rubros"></div>
                    <div class="swiper-button-prev-rubros"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper-rubros">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/img/rubros/Common Uses for Welding.jpg" class="d-block w-100" alt="rubro1">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/rubros/istockphoto-538026470-1024x1024-transformed.jpeg" alt="rubro2">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/rubros/istockphoto-1218386420-1024x1024-transformed (1).jpeg" alt="rubro3">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- PRODUCTOS PRICIPALES -->

        <div>
            <h1>Los Productos Más Buscados</h1>

            <!-- PRODUCTOS -->
            <section class="section--productos">
                <div class="swiper-productos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img class="card__img" src="/img/AMOLADORAS/9002-removebg-preview.png"
                                        class="card-img-top" alt="producto1">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk
                                            of
                                            the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img class="card__img"
                                        src="/img/CALADORAS/BAC400-removebg-preview-removebg-preview.png"
                                        class="card-img-top" alt="producto2">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk
                                            of
                                            the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img src="/img/TALADROS/00000000000TE75B10345TALADRO-13-removebg-preview.png"
                                        class="card-img-top" alt="producto3">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk
                                            of
                                            the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img src="/img/PINTOR/ATK-5-removebg-preview.png" class="card-img-top"
                                        alt="producto4">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up
                                            the bulk
                                            of the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img src="/img/AMOLADORAS/9002-removebg-preview.png" class="card-img-top"
                                        alt="producto5">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up
                                            the
                                            bulk
                                            of the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img src="/img/TALADROS/BIL-TP13-removebg-preview.png" class="card-img-top"
                                        alt="producto6">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up
                                            the
                                            bulk
                                            of the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img src="/img/LIJADORAS/LBP-80-removebg-preview.png" class="card-img-top"
                                        alt="producto7">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up
                                            the
                                            bulk
                                            of the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="home__main__section__article-productos">
                                <div class="card">
                                    <img src="/img/LIJADORAS/LBP-80-removebg-preview.png" class="card-img-top"
                                        alt="producto8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk
                                            of the card's
                                            content.</p>
                                        <a href="#" class="btn btn-primary home__main__section__article__a-productos">Go
                                            somewhere</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-button-next-productos"></div>
                    <div class="swiper-button-prev-productos"></div>
                </div>
            </section>
            <!-- CARRUSEL DE LOGOS DE MARCAS -->
            <section class="section--marcas">
                <div class="swiper mySwiper-marcas">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo bahco.png" alt="Carrusel Logo 1">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo barovo.png" alt="Carrusel Logo 2">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo bosch.png" alt="Carrusel Logo 3">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo bosch.png" alt="Carrusel Logo 3">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo dremel.png" alt="Carrusel Logo 4">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo fischer.png" alt="Carrusel Logo 5">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo ford.png" alt="Carrusel Logo 6">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo irimo.png" alt="Carrusel Logo 7">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo makita.png" alt="Carrusel Logo 8">
                        </div>
                        <div class="swiper-slide">
                            <img class="mySwiper_img-marcas" src="/img/LOGOS/logo volt.png" alt="Carrusel Logo 9">
                        </div>
                    </div>
                    <!-- <div class="swiper-pagination-marcas"></div> -->
                </div>
            </section>
    </main>
    <footer>
        <div class="footer__caja-logo">
            <img src="/img/logo_footer.png" alt="logo">
        </div>

        <article class="footer__article-contenedor">
            <a href="#" class="footer__caja-boton-padre">Ayuda</a>
            <P>Si tenés sugerencias o comentarios</P>
            <a class="contactanos">Contactanos</a>

        </article>
        <hr>
        <article class="footer__article-contenedor footer__article-contenedor-suscribite ">
            <a href="#" class="footer__caja-boton-padre">Suscribite</a>
            <p>Registrate para enterarte de nuestras promociones</p>

        </article>
        <hr>
        <!--CONTENEDOR  REDES  -->
        <article class="footer__article-contenedor-ayuda">
            <h3>Seguinos en</h3>
            <!-- CONTENEDOR  ICONOS-->
            <article class="footer__article-contenedor-seguinos-redes">

                <a class="footer-01" href="#"><i class="fab fa-twitter-square"></i><a>
                        <a class="footer-02" href="#"><i class="fab fa-facebook"></i></a>
                        <a class="footer-03" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="footer-04" href="#"><i class="fab fa-whatsapp"></i></a>
            </article>
        </article>
    </footer>

    <!-- BOOSTRAP -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper HOT SALE -->
    <script>
        var swiper = new Swiper(".mySwiper-hot-sale", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

    <!-- Initialize Swiper RUBROS -->
    <script>
        var swiper = new Swiper(".mySwiper-rubros", {
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".mySwiper2-rubros", {
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next-rubros",
                prevEl: ".swiper-button-prev-rubros",
            },
            thumbs: {
                swiper: swiper,
            },
        });
    </script>

    <!-- Initialize Swiper PRODUCTOS -->
    <script>
        var swiper = new Swiper('.swiper-productos', {
            breakpoints: {
                640: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 50,
                },
            },
            direction: getDirection(),
            navigation: {
                nextEl: '.swiper-button-next-productos',
                prevEl: '.swiper-button-prev-productos',
            },
            on: {
                resize: function () {
                    swiper.changeDirection(getDirection());
                },
            },
        });

        function getDirection() {
            var windowWidth = window.innerWidth;
            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

            return direction;
        }
    </script>

    <!-- Initialize Swiper MARCAS -->
    <script>
        var swiper = new Swiper(".mySwiper-marcas", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination-marcas",
            },
        });
    </script>

</body>

</html>