<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/183b312a89.js" crossorigin="anonymous"></script>
</head>

<body class="register">
    <header class="header">
        <div class="register__top_bar">
            <i class="fa-solid fa-globe"></i>
        </div>
        <div class="register__mid_bar">
            <div class="register__mid_bar_left">
                <a href="/"><img src="/img/Logo-Toolsxperts.png" alt="imagen_logo_ToolsXperts "></a>
            </div>
            <div class="mid_bar_right">
                <div class="div_login">
                    <a href="/login"><i class="fas fa-address-card"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="register__bottom_bar">
            <nav class="register__navbar">
                <ul>
                    <li><a href="/soporte">Soporte</a></li>
                    <div class="div_login">
                </ul>
            </nav>
        </div>
    </header>
    <main class="register_main">

        <div class="register_main_logo_box">

            <a href="/"><img src="/img/Login/Logo-Toolsxperts_login.png" alt="logo_imagen"></a>


            <div>
                <h1>Registrate</h1>
                <h4>Sign in to continue</h4>
                <hr>
            </div>
            <div>
                <p>"Somos una empresa...</p>
                <button class="boton__general btn_register">Learn More</button>
            </div>
        </div>
        <div class="register_main_form_box">
            <h1>Registrate</h1>
            <form class="register_main_form" action="/" method="GET">
                <p class="register_main_form_inp_box">
                    <label for="name">NOMBRE</label>
                    <input type="text" name="name" id="name" value="Francois Mercer" />
                </p>
                <p class="register_main_form_inp_box">
                    <label for="email">EMAIL</label>
                    <input type="email" name="email" id="email" value="hello@ejemplo.com" />
                </p>
                <p class="register_main_form_inp_box">
                    <label for="pass">PASSWORD</label>
                    <input type="password" name="pass" id="pass" value="password" />
                </p>
                <p class="register_main_form_inp_box">
                    <label for="date">FECHA DE NACIMIENTO</label>
                    <input type="date" name="date" id="date" value="date" />
                </p>
                <div>
                    <input class="boton__general btn_register" type="submit" value="rEGISTRATE" />
                </div>

            </form>
            <div class="register_main_redes">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook" style="color:var(--AzulClaro)"></i></a>
                <a href="https://myaccount.google.com"><i class="fab fa-google-plus-square"></i></a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer__caja-logo">
            <img src="/img/logo_footer.png" alt="logo">
        </div>

        <article class="footer__article-contenedor">
            <a href="#" class="footer__caja-boton-padre">Ayuda</a>
            <P>Si tenés sugerencias o comentarios</P>
            <a class="contactanos">Contactanos</a>

        </article>
        <hr>
        <article class="footer__article-contenedor footer__article-contenedor-suscribite ">
            <a href="#" class="footer__caja-boton-padre">Suscribite</a>
            <p>Registrate para enterarte de nuestras promociones</p>

        </article>
        <hr>
        <!--CONTENEDOR  REDES  -->
        <article class="footer__article-contenedor-ayuda">
            <h3>Seguinos en</h3>
            <!-- CONTENEDOR  ICONOS-->
            <article class="footer__article-contenedor-seguinos-redes">

                <a class="footer-01" href="#"><i class="fab fa-twitter-square"></i><a>
                        <a class="footer-02" href="#"><i class="fab fa-facebook"></i></a>
                        <a class="footer-03" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="footer-04" href="#"><i class="fab fa-whatsapp"></i></a>
            </article>
        </article>
    </footer>
</body>