*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --celeste: #457B9D;
    --celeste-claro:#A8DADC;
    --rojo: #E63946;
    --azul: #1D3557;
    --tipodeletra: var('Montserrat', 'sans-serif';)
}