<<<<<<< HEAD
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --celeste: #457B9D;
    --celeste-claro:#A8DADC;
    --rojo: #E63946;
    --azul: #1D3557;
    --tipodeletra: var('Montserrat', 'sans-serif';)
}
=======
:root {
    /* Paleta de colores */
    --AzulOscuro: #1d3557;
    --AzulTransparente: #1d355780;
    --AzulClaro: #457b9d;
    --Celeste: #a8dadc;
    --GrisClaro: #f1faee;
    --Rojo: #e63946;
  
    /* Tiopografia */
    --tipografiaGeneral: "Montserrat" sans-serif;
  }
  
  * {
    font-family: var(--tipografiaGeneral);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
>>>>>>> develop
