.login{
    color:#ffff;
}
.login_main_logo_box{   
    display: none;
}

.login_main_form{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 13px;

}
.login_main_form_box h1{
    font-weight: 700;}
.login_main_form_box{
    text-align: center;
    border-radius: 22px;
    background-color: var(--AzulTransparente);
    padding: 19px;
}

.login_main_form_inp_box{
    margin: 9px 0;
    color: white;
}

.login_main_form_inp_box label{
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    margin-left: 10px;
}
.login_main_form_inp_box input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--GrisClaro);
    opacity: 25%;
    width: 100%;
}

.login_main_form_inp_box input:invalid{
    border: solid 3px red;
}
.login_main_form_inp_box input:valid{
    border:  solid 3px rgb(12, 252, 12);
}

.login_main_form div{
    text-align: center;
    padding-top: 9px;
}
 
.btn_login{
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 30px;
}

.btn_login:hover{
    border: solid 2px red;
    color: red;
    background-color: var(--AzulTransparente);
}

.login_main_redes{
    display: flex;
    justify-content: center;
    gap: 7%;
}

.login_main_redes a{
    background-color: #ffffff;
    border-radius: 53%;
    height: 26px;
    width: 25px;
    margin-left: 0px;
}

.login_main_redes i{
    font-size: 31px;
    margin-top: -3px;
    margin-left: -1px;
}
.login_main {
    
    background-color: var(--AzulClaro);
    border-radius: 15px;
    margin: 1rem;
}

@media (min-width:361px){
    .login_main_form_box{
         padding: 50px;
         padding-top: 70px;
         font-size: 25px;
    }
    .login_main_form{
        padding: 13px 61px;
        font-size: 29px;
        }
    .btn_login {
    padding: 5px 50px;
    }
}

@media (min-width:769px){
    
    .login_main {
        display: flex;
        margin: 1rem;
    }

    .login_main_logo_box{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        width: 50%;
    }

    .login_main_form_box{
        margin: 5%;
    }
    .login_main_logo_box div{
        padding-bottom: 4rem;
    }
    .login_main_logo_box hr{
        height: 3px;
        background-color: #ffffff;
    }

    .login_main_logo_box h1{
        font-weight: 800;
        padding-bottom: 2px;
        font-size: 53px;
    }
    .login_main_logo_box p{
        margin-bottom: 7px;
    }
   
    .login_main_form{
        padding: 2rem 13px;
    }
    .login_main_form_box{
    width: 50%;
    padding: 50px;
    }
   
}