.home__main {
  width: 100%;
}

.home__main h1 {
  margin: 10px;
  text-align: center;
}

/* OFERTAS */

.home__main__article-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home__main__article-ofertas a {
  margin: 10px;
  width: 43%;
}

.home__main__article-ofertas img {
  width: 100%;
}

/* PRODUCTOS */

.card__img{
  width: 100%;
}

.swiper-slide .home__main__section__article__a-productos{
  background-color: var(--Rojo);
  border: none;
}

.swiper-slide .card-body{
  text-align: center;
}

/* MARCAS */

.mySwiper_img-marcas {
  width: 100%;
}

@media (min-width: 768px) {
  /* HOT SALE */

  .home__main__swiper-pagination {
    display: block;
  }

  .mySwiper-hot-sale img {
    height: 250px;
    object-fit: cover;
  }

  .swiper-slide-img-rubros img {
    height: 300px;
  }

  .swiper-slide-img-rubros2 img {
    height: 100px;
  }

  .home__main__carousel-marcas img {
    height: 200px;
    object-fit: contain;
}
}

@media (min-width: 1024px) {
  /* HOT SALE */

  .home__main__swiper-pagination {
    display: block;
  }

  .mySwiper-hot-sale img {
    height: 400px;
  }

  .swiper-slide-img-rubros img {
    height: 400px;
  }

  .swiper-slide-img-rubros2 img {
    height: 200px;
  }

  .home__main__carousel-marcas img {
    height: 200px;
    object-fit: contain;
}
}
