.boton__general {
  background: var(--Rojo);
  border: solid 1px var(--Rojo);
  border-radius: 15px;
  font-weight: 200;
  padding: 5px 5px;
  color: white;
  text-transform: uppercase;
}

.profile_btn_edit{
  position: absolute;
  top: 16px;
  right: 7px;
  color: var(--Rojo);
}