.main__titulo-h1 {
  width: 100%;
  margin: 20px 0;
  padding: 0px 20px;
}

.main__titulo-h1 h1 {
  color: white;
}

.main_create_cont {
  margin: 10px;
  background-color: var(--AzulTransparente);
  border-radius: 2%;
  padding: 5px;
  margin: 30px 10px;
}

.clase_formularios {
  width: 100%;
}

.clase_formularios_cajas {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
  flex-direction: column;
}

.clase_formularios_cajas label {
  width: 43%;
  text-transform: capitalize;
  padding-left: 5px;
}
.clase_formularios_cajas input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--AzulTransparente);
  font-weight: 400;
  font-size: 15px;
  color: #ffff;
  box-shadow: none;
  outline: none;
}

.clase_formularios_cajas select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--AzulTransparente);
  font-weight: 400;
  font-size: 15px;
  color: #ffff;
  box-shadow: none;
  outline: none;
  text-align: center;
}
.clase_formularios_cajas option {
  background-color: var(--AzulTransparente);
  color: #ffff;
}
.form_product_text_area {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--AzulTransparente);
  font-weight: 400;
  font-size: 15px;
  color: #ffff;
  box-shadow: none;
  outline: none;
}
.clase_formulario_botones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 10px;
}
.clase_formulario_box_btn {
  text-align: right;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.clase_formularios_cajas_btn_agregar .btn_img {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 11px;
  margin-top: 10px;
  gap: 2%;
  font-weight: 600;
}
.clase_formularios_cajas_btn_agregar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn_form {
  width: 49%;
  height: 40px;
  font-weight: 600;
  font-size: 17px;
}
.btn_form:hover {
  border: solid 2px var(--Rojo);
  color: var(--Rojo);
  background-color: var(--AzulTransparente);
}

@media (min-width: 768px) {
  .main_create {
    display: flex;
    justify-content: center;
  }
  .main_create_cont {
    width: 85%;
  }

  .clase_formularios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .clase_formularios_cajas {
    width: 46%;
    gap: 2%;
    flex-direction: row;
  }
  .clase_formularios_cajas .btn_img {
    margin: 0 auto;
  }
  .clase_formularios_cajas{
    width: 50%;
  }
  .tex_area {
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
  }
  .tex_area label{
    width: 100%;
    margin:10px;
    padding: 0;
  }
  .clase_formulario_botones {
    display: flex;
    flex-wrap: nowrap;
    gap: 2%;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 15px;
  }
  .clase_formularios_cajas_btn_agregar {
    width: 30%;

    margin-bottom: 10px;
    align-self: center;
  }
  .btn_form{
   margin-top: 15px;
    width: 80%;
    align-self: center;
  }

 .errorsUpdate{
  width: 100%;
 }
 .descuento{
 padding-right: 3%;

 
}

}

@media (min-width: 1024px) {
  .main_create_cont {
    width: 64%;
  }
  .tex_area {
    width: 100%;
  }
}
