.products_cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 18px;
    align-items: center;
    gap: 20px;
}

.products_card{
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:nowrap;
    height: 400px;
    
}
.products_card:hover{
    box-shadow: 5px 5px 10px var(--Celeste);
}

.products_card img{
<<<<<<< HEAD
    max-height: 300px;
    object-fit: contain;
    height: 300px;
}
.card_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 200px;
=======
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
>>>>>>> develop
}

@media (min-width: 768px) {
   
    .products_card{
        width: 48%;
        padding: 1rem;
        margin: 5px 4px;
<<<<<<< HEAD
=======
        
    }
    .products_card img{
        max-height: 200px;
>>>>>>> develop
    }
   
}
@media (min-width: 1024px) {
    .products_cards{
        gap: 18px;
    }
    .products_card{
        width: 24%;
        margin-bottom: 2px;
    }
}