.profile_main{
    margin: 25px auto;
    width: 80%;
   
    margin-bottom: 110px;
}
.main.profile_main{
     height: 40%;
}
.btn_profile{
    width: 250px;
}
.perfil_usuario{
    margin-top: 35px;
   
}
