<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title: "CART" }) %>

    <body class="admin">

        <%- include("./partials/header") %>

            <div class="advertencia">

                <i class="fa-solid fa-triangle-exclamation" style="color: #e63946;"></i>
                <h3>Para configuacion de administradores solo esta disponible en Computadoras o Tablets</h3>

            </div>

            <main class="admin_main">

                <h3>Productos</h3>
                <hr>

                <nav>
                    <li><a href="*"></a>Productos</li>
                    <li><a href="*"></a>Marcas</li>
                    <li><a href="*"></a>Rubros</li>
                    <li><a href="*"></a>Inactivos</li>
                </nav>
                <hr>

                <div class="admin_filter">
                    <a href="/products/createProduct"><button><i
                                class="fa-solid fa-plus fa-2xl"></i>Agregar</button></a>


                    <label for="marca">Filtro por marcas:</label>
                    <select name="marca">
                        <option value="barovo">Barovo</option>
                        <option value="Black&Decker">Black&Decker</option>
                        <option value="Bosch">Bosch</option>
                        <option value="Dremel">Dremel</option>
                        <option value="Ford">Ford Tools</option>
                        <option value="Volt">Volt</option>
                        <option value="Makita">Makita</option>
                        <option value="Bremel">Bremel</option>
                    </select>

                    <div class="admin_search_bar">
                        <div class="admin_search_bar_text">
                            <input type="text" placeholder="Buscar">
                        </div>
                        <div class="admin_lupa">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="admin_div-etiquetas">
                    <li>Codigo</li>
                    <li>Nombre</li>
                    <li>Marca</li>
                    <li>Precio</li>
                    <li>Descuento</li>
                    <li>Stock</li>
                </div>
                <hr>

                <section class="admin_section-lista">
                    <div class="admin_div-producto">
                        <li>BIL-TP13</li>
                        <li>Taladro/Atornillador Barovo BIL TP13</li>
                        <li>Barovo</li>
                        <li>$36.842</li>
                        <li>10%</li>
                        <li>21</li>
                    </div>

                    <div class="admin_div-tools">
                        <a href="/products/detalle"><i class="fa-solid fa-eye"></i></a>
                        <a href="/products/editProduct"><i class="fa-solid fa-pen-to-square"></i></a>
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </section>


            </main>
            
            <%- include("./partials/footer") %>
    </body>

</html>

<table>
    <caption>
        Council budget (in £) 2018
    </caption>
    <thead>
        <tr>
            <th scope="col">Items</th>
            <th scope="col">Expenditure</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Donuts</th>
            <td>3,000</td>
        </tr>
        <tr>
            <th scope="row">Stationery</th>
            <td>18,000</td>
        </tr>
    </tbody>
</table>