<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito</title>
</head>

<body class="carrito">
    <header class="header">
        <div class="top_bar">
            <i class="fa-solid fa-globe"></i>
        </div>
        <div class="mid_bar">
            <div class="mid_bar_left">
                <a href="/"><img src="/img/Logo-Toolsxperts.png" alt="imagen_logo_ToolsXperts "></a>
            </div>
            <div class="mid_bar_right">
                <div class="div_login">
                    <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
                </div>

                <div class="div_register">
                    <a href="/register"><i class="fas fa-address-card"></i>
                    </a>
                </div>                <div class="div_carrito">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        </div>
        <div class="bottom_bar">
            <nav class="navbar">
                <ul>
                    <li><a href="/detalle">Productos</a></a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/envios">Envios</a></li>
                </ul>
            </nav>
            <div class="search_bar">
                <div class="search_bar_text">
                    <input type="text" placeholder="¿Qué estas buscando? Nosotros te lo encontramos...">
                </div>
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="burguer_menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <main class="carrito__main">
        <section class="carrito__main__section">
            <div class="carrito__main__section__div">
                <h3>Tu Carrito</h3>
                <article class="carrito__main__section__div-article">
                    <div class="carrito__main__section__div-article-texto">
                        <h4>Tu carrito está vacío</h4>
                        <p>comienza a llenarlo con nuestros productos.</p>
                    </div>
                    <a href="/" class="boton__general btn_compras">Ir de compras</a>
                    
                </article>
                <div class="carrito__main__section__div-producto">
                    <img src="/img/AMOLADORAS/9002-removebg-preview.png" alt="amoladora">
                    <div class="carrito__main__section__div-tarjeta">
                        <div class="carrito__main__producto">
                            <h5 class="carrito__main_titulo_producto">SKIL</h5>
                            <hr>
                            <p class="carrito__main__descripcion_producto">AMOLADORA ANGULAR SKIL FO129002JR</p>
                            <hr>
                        </div>
                        <div class="carrito__main__precio_producto">
                            <h4>Precío</h4>
                            <p>$14.759,00</p>
                        </div>
                        <div class="carrito__main__unidad">
                            <div class="carrito__main__unidad__producto">
                                <label for="cantidad">Unidades</label>
                                <select id="cantidad" name="cantidad">
                                    <option selected hidden value="">Seleccione una cantidad</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                                <div class="carrito__main__botones">
                                    <button class="boton__general btn_compras"><i class="fa-solid fa-trash"></i>eliminar</button>
                                    <button class="boton__general btn_compras">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carrito__main__section__div-producto">
                    <img src="/img/AMOLADORAS/9002-removebg-preview.png" alt="amoladora">
                    <div class="carrito__main__section__div-tarjeta">
                        <div class="carrito__main__producto">
                            <h5 class="carrito__main_titulo_producto">SKIL</h5>
                            <hr>
                            <p class="carrito__main__descripcion_producto">AMOLADORA ANGULAR SKIL FO129002JR</p>
                            <hr>
                        </div>
                        <div class="carrito__main__precio_producto">
                            <h4>Precío</h4>
                            <p>$14.759,00</p>
                        </div>
                        <div class="carrito__main__unidad">
                            <div class="carrito__main__unidad__producto">
                                <label for="cantidad">Unidades</label>
                                <select name="cantidad">
                                    <option selected hidden value="">Seleccione una cantidad</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                                <div class="carrito__main__botones">
                                    <button class="boton__general btn_compras"><i class="fa-solid fa-trash"></i>eliminar</button>
                                    <button class="boton__general btn_compras">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carrito__main__section__div-producto">
                    <img src="/img/AMOLADORAS/9002-removebg-preview.png" alt="amoladora">
                    <div class="carrito__main__section__div-tarjeta">
                        <div class="carrito__main__producto">
                            <h5 class="carrito__main_titulo_producto">SKIL</h5>
                            <hr>
                            <p class="carrito__main__descripcion_producto">AMOLADORA ANGULAR SKIL FO129002JR</p>
                            <hr>
                        </div>
                        <div class="carrito__main__precio_producto">
                            <h4>Precío</h4>
                            <p>$14.759,00</p>
                        </div>
                        <div class="carrito__main__unidad">
                            <div class="carrito__main__unidad__producto">
                                <label for="cantidad">Unidades</label>
                                <select name="cantidad">
                                    <option selected hidden value="">Seleccione una cantidad</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                                <div class="carrito__main__botones">
                                    <button class="boton__general btn_compras"><i class="fa-solid fa-trash"></i>eliminar</button>
                                    <button class="boton__general btn_compras">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carrito__main__section__div-producto">
                    <img src="/img/AMOLADORAS/9002-removebg-preview.png" alt="amoladora">
                    <div class="carrito__main__section__div-tarjeta">
                        <div class="carrito__main__producto">
                            <h5 class="carrito__main_titulo_producto">SKIL</h5>
                            <hr>
                            <p class="carrito__main__descripcion_producto">AMOLADORA ANGULAR SKIL FO129002JR</p>
                            <hr>
                        </div>
                        <div class="carrito__main__precio_producto">
                            <h4>Precío</h4>
                            <p>$14.759,00</p>
                        </div>
                        <div class="carrito__main__unidad">
                            <div class="carrito__main__unidad__producto">
                                <label for="cantidad">Unidades</label>
                                <select name="cantidad">
                                    <option selected hidden value="">Seleccione una cantidad</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class="carrito__main__botones">
                                <button class="boton__general btn_compras"><i class="fa-solid fa-trash"></i>eliminar</button>
                                <button class="boton__general btn_compras">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer__caja-logo">
            <img src="/img/logo_footer.png" alt="logo">
        </div>
         <article class="footer__article-contenedor">
            <a href="#" class="footer__caja-boton-padre">Ayuda</a>
            <P>Si tenés sugerencias o comentarios</P>
            <a class="contactanos">Contactanos</a>
        </article>
        <hr>
        <article class="footer__article-contenedor footer__article-contenedor-suscribite">
            <a href="#" class="footer__caja-boton-padre">Suscribite</a>
            <p>Registrate para enterarte de nuestras promociones</p>
        </article>
        <hr>
        <article class="footer__article-contenedor-ayuda">
            <h3>Seguinos en</h3>
            <article class="footer__article-contenedor-seguinos-redes">
                <a class="footer-01" href="#"><i class="fab fa-twitter-square"></i></a>
                <a class="footer-02" href="#"><i class="fab fa-facebook"></i></a>
                <a class="footer-03" href="#"><i class="fab fa-instagram"></i></a>
                <a class="footer-04" href="#"><i class="fab fa-whatsapp"></i></a>
            </article>
        </article>
    </footer>
</body>

</html>