<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title: "Mis favoritos"}) %>

<body>
    <%- include("./partials/header") %>
<main>
 <h1 class="tituloFavoritos">Favoritos</h1>
  <div class="products_cards" id="cards-container">
 
  </div>
</main>
 


   
<%- include("./partials/footer") %>

    <!-- Swiper JS -->
  <%- include("./partials/scripts") %>

    <script src="/javascripts/favorites.js"></script>
   
</body>

</html>