<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title: "Mis favoritos"}) %>

<body>
    <%- include("./partials/header") %>
   <div>
    <h1>Mis Favoritos</h1>






   </div>




   
<%- include("./partials/footer") %>

    <!-- Swiper JS -->
  <%- include("./partials/scripts") %>

    <script src="/javascripts/main.js"></script>
    
</body>

</html>