<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title: "PRODUCTOS"}) %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<body class="products_body">
    <%- include("./partials/header") %>
    <main class="products_main">
        <div class="products_cards">
        <% listProduct.forEach(product =>{ %>
            <%- include('./partials/product',{
                ...product
               }) %>
            
        <% }) %>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>