<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./partials/head", { title: "TU PERFIL" }) %>

</head>

<body>
    <%- include("./partials/header") %>

        <main>
            <h1>Tu Perfil</h1>
            <hr>
            <h2>ID : <%= user.id %>
            </h2>
        </main>

        <%- include("./partials/footer") %>
</body>

</html>
