<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head",{
    title: "REGISTER"
}) %>

<body class="register">
    <%- include("./partials/header") %>
    
    <main class="register_main">

        <div class="register_main_logo_box">

            <a href="/"><img src="/img/Login/Logo-Toolsxperts_login.png" alt="logo_imagen"></a>


            <div>
                <h1>Registrate</h1>
                <h4>Sign in to continue</h4>
                <hr>
            </div>
            <div>
                <p>"Somos una empresa...</p>
                <button class="boton__general btn_register">Learn More</button>
            </div>
        </div>
        <div class="register_main_form_box">
            <h1>Registrate</h1>
            <form class="register_main_form" action="/" method="GET">
                <p class="register_main_form_inp_box">
                    <label for="name">NOMBRE</label>
                    <input type="text" name="name" id="name" value="Francois Mercer" />
                </p>
                <p class="register_main_form_inp_box">
                    <label for="email">EMAIL</label>
                    <input type="email" name="email" id="email" value="hello@ejemplo.com" />
                </p>
                <p class="register_main_form_inp_box">
                    <label for="pass">PASSWORD</label>
                    <input type="password" name="pass" id="pass" value="password" />
                </p>
                <p class="register_main_form_inp_box">
                    <label for="date">FECHA DE NACIMIENTO</label>
                    <input type="date" name="date" id="date" value="date" />
                </p>
                <div>
                    <input class="boton__general btn_register" type="submit" value="rEGISTRATE" />
                </div>

            </form>
            <div class="register_main_redes">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook" style="color:var(--AzulClaro)"></i></a>
                <a href="https://myaccount.google.com"><i class="fab fa-google-plus-square"></i></a>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>