<footer>
    <div class="footer__caja-logo">
        <img src="/img/logo_footer.png" alt="logo">
    </div>

    <article class="footer__article-contenedor">
        <a href="#" class="footer__caja-boton-padre">Ayuda</a>
        <P>Si tenés sugerencias o comentarios</P>
        <a class="contactanos">Contactanos</a>

    </article>
    <hr>
    <article class="footer__article-contenedor footer__article-contenedor-suscribite ">
        <a href="#" class="footer__caja-boton-padre">Suscribite</a>
        <p>Registrate para enterarte de nuestras promociones</p>

    </article>
    <hr>
    <!--CONTENEDOR  REDES  -->
    <article class="footer__article-contenedor-ayuda">
        <h3>Seguinos en</h3>
        <!-- CONTENEDOR  ICONOS-->
        <article class="footer__article-contenedor-seguinos-redes">

            <a class="footer-01" href="#"><i class="fab fa-twitter-square"></i><a>
                    <a class="footer-02" href="#"><i class="fab fa-facebook"></i></a>
                    <a class="footer-03" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="footer-04" href="#"><i class="fab fa-whatsapp"></i></a>
        </article>
    </article>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
