<header class="header">
    <div class="top_bar">
    
        <i class="fa-solid fa-globe"></i>
        <a href="/admin"><i class="fa-solid fa-user-gear"></i></a>
<!--si de locals.loguin tiene información del usuario traeme su nombre, si no   -->
          <h5><%= locals.userLogin ? `Bienvenid@ ${locals.userLogin.firstName}` : "" %> </h5> 

    </div>
    <div class="mid_bar">
        <div class="mid_bar_left">
            <a href="/"><img src="/img/Logo-Toolsxperts.png" alt="imagen_logo_ToolsXperts "></a>
        </div>
        <div class="mid_bar_right">
            <div class="div_login">
                <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
            </div>

            <div class="div_register">
                <a href="/users/register"><i class="fas fa-address-card"></i>
                </a>
            </div>
            <div class="div_carrito">
                <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom_bar">
        <nav class="navbar">
            <ul>
                <li><a href="/products/">Productos</a></a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/envios">Envios</a></li>
            </ul>
        </nav>
       
           
        <form class="search_bar" action="/search" method="GET" >
          
                <input type="search" name="keywords" placeholder="¿Qué estas buscando? Nosotros te lo encontramos...">
                
                <button class="lupa" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
        </form>

        <div class="burguer_menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>