<header class="header">
    <div class="top_bar">
        <i class="fa-solid fa-globe"></i>
        <a href="/users/admin"><i class="fa-solid fa-user-gear"></i></a>
    </div>
    <div class="mid_bar">
        <div class="mid_bar_left">
            <a href="/"><img src="/img/Logo-Toolsxperts.png" alt="imagen_logo_ToolsXperts "></a>
        </div>
        <div class="mid_bar_right">
            <div class="div_login">
                <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
            </div>

            <div class="div_register">
                <a href="/users/register"><i class="fas fa-address-card"></i>
                </a>
            </div>
            <div class="div_carrito">
                <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom_bar">
        <nav class="navbar">
            <ul>
                <li><a href="/products/detalle">Productos</a></a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/envios">Envios</a></li>
            </ul>
        </nav>
        <div class="search_bar">
            <div class="search_bar_text">
                <input type="text" placeholder="¿Qué estas buscando? Nosotros te lo encontramos...">
            </div>
            <div class="lupa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="burguer_menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>