<header class="header">
    <div class="top_bar">

        <div>
            <button class="btn burguer_menu_globe" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                    class="fa-solid fa-globe globe"></i>
            </button>       
            <ul class="dropdown-menu dropdown-menu-globe">
                <li><a class="dropdown-item" id="translateEs">Español</a></li>
                <li><a class="dropdown-item" id ="translateIn">Ingles</a></li>
                <li><a class="dropdown-item" id="translatePt">Portugues</a></li>
            </ul>
        </div>
        <% if (locals.userLogin && locals.userLogin.roleId===1 ) { %>
            <div class="d-flex justify-content-aroud iconoAdmin">
                <a href="/admin"><i class="fas fa-user-lock"></i></a>
                <a href="http://localhost:5173/"><i class="fa-brands fa-react"></i></a>
            </div>
            
            <li><a class="logout" href="/users/logout">Cerrar sesión</a><i class="far fa-window-close iconoCerrar"></i></li>
            <% } %>
                <!--si de locals.loguin tiene información del usuario traeme su nombre, si no lo muestres-->
                <% if (locals.userLogin && locals.userLogin.roleId===2) { %>
                    <!-- el botón cerrar sesión se muestra si hay usuario loguedo  -->
                    <div class="dropdown">

                <button class="btn dropdown-menu-dark menuUser" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user iconoUser"></i>
                </button>  
                    <ul class="dropdown-menu dropdown-menu-dark menuUserFondo">
                        <li class="dropdown-item"><a class="misCompras" href="/users/carrito">Compras</a><i class="far fa-check-circle iconoCompras"></i></li>
                        <li class="dropdown-item"><a class="misFavoritos" href="/users/favoritos">Favoritos</a><i class="far fa-star iconoFavoritos"></i></li>
                        <li class="dropdown-item"><a class="logout logoutAdmi" href="/users/logout">Cerrar sesión</a><i class="far fa-window-close iconoCerrar"></i></li>
                    </ul>
                </div>
                    
                  
                    <h5 class="weldcome">
                        <%= `Bienvenid@ ${locals.userLogin.first_name}` %>
                    </h5>

                    <% } %>


    </div>
    <div class="mid_bar">
        <div class="mid_bar_left">
            <a href="/"><img src="/img/Logo-Toolsxperts.png" alt="imagen_logo_ToolsXperts "></a>
        </div>
        <div class="mid_bar_right">
            <% if (!locals.userLogin) { %>
                <div class="div_login">
                    <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
                </div>
                <% } %>
   


                    <div class="div_register">
                        <!-- si logueado, te muestra el perfil -->
                        <% if (locals.userLogin  && locals.userLogin.roleId===2) { %>
                            <a href="/users/profile"><i class="fas fa-address-card"></i></a>
                            <% } %>
<!-- si no estás logueado, registrate -->
                        <% if (!locals.userLogin) { %>
                            <a href="/users/register"><i class="fas fa-address-card"></i></a>
                        <% } %>  
                    </div>
<!-- aparece carrito si sos usuario -->
                    <% if (locals.userLogin  && locals.userLogin.roleId===2) { %>
                    <div class="div_carrito">
                        <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <% } %>
        </div>
    </div>
    
    </div>
    <div class="bottom_bar">
        <nav class="navbar">
            <ul class="bottom_bar_ul">
                <li><a href="/products/">Productos</a></a></li>
                <li><a href="#footer">Contacto</a></li>
                <li><a href="#footer">Envios</a></li>
            </ul>
        </nav>
        
        <div class="home__header__busqueda">
            <div class="col-10">
                <form action="/products/search" id="formSearch" method="GET" class="search-form">
                    <input type="text" id="search" name="keywords" placeholder="¿Qué estas buscando? Nosotros te lo encontramos..." class="search-form_input">
                    <button id="lupa" type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        
        <div class="dropdown dropdown-menu-div">
            <button class="btn burguer_menu" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                    class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-background">
                <li><a class="dropdown-item" href="/products">Productos</a></li>
                <li><a class="dropdown-item" href="#footer">Contacto</a></li>
                <li><a class="dropdown-item" href="#footer">Envios</a></li>
            </ul>
        </div>
    </div>
</header>