<div class="modal fade" id="modalDeleteAvatar<%=id%>" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="main-admin-header">
                <div class="modal-header main-admin-header">
                    <h5 class="modal-title modal-advertencia">
                        Advertencia</h5>
                    <button type="button" class="btn btn-close btn-danger" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
            </div>
            <form action="/users/deleteAvatar/avatar/<%= id %>?_method=DELETE" method="POST">
                <div class="modal-body modal-body-background">
                    <p>Vas a eliminar tu avatar ¿Estas
                        seguro?.
                    </p>
                </div>
                <div>
                    <img src="/img/users/<%= avatar ? avatar : " defaultUserImg.jpg" %>"
                    class="img-fluid rounded-1 shadow-sm">
                </div>
                <div class="main-admin-header">
                    <div class="modal-footer main-admin-header">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>

                        <button type="submit" class="btn btn-danger">Eliminar
                        </button>

                    </div>
            </form>
        </div>
    </div>
</div>
</div>